Repository xabinM/SETA: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, backend-test, frontend-build, frontend-test, ai-test

backend-build:
  stage: build
  script:
  - echo "Backend Build Job 실행 테스트"

backend-test:
  stage: test
  script:
  - echo "Backend Test Job 실행 테스트"

frontend-build:
  stage: build
  script:
  - echo "Frontend Build Job 실행 테스트"

frontend-test:
  stage: test
  script:
  - echo "Frontend Test Job 실행 테스트"

ai-test:
  stage: test
  script:
  - echo "AI Test Job 실행 테스트"

Update: .gitlab-ci.yml file / Spring 깡통 프로젝트 CI 테스트
  .gitlab-ci.yml
Due: none

CI: Spring initialize
  Backend/.gitattributes
  Backend/.gitignore
  Backend/build.gradle
  Backend/gradle/wrapper/gradle-wrapper.jar
  Backend/gradle/wrapper/gradle-wrapper.properties
  Backend/gradlew
  Backend/gradlew.bat
  Backend/settings.gradle
  Backend/src/main/java/com/AIce/Backend/BackendApplication.java
  Backend/src/main/resources/application.yml
  Backend/src/test/java/com/AIce/Backend/BackendApplicationTests.java
Due: backend-build, backend-test

Edit corretto -> amazoncorretto
  .gitlab-ci.yml
Due: none

Edit : Backend 파일 경로 찾아가는 script 추가
  .gitlab-ci.yml
Due: none

Edit : backend-test job에도 경로 찾아가기 추가
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file : backend_test 시 db 컨테이너 생성
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file : backend test job delete
  .gitlab-ci.yml
Due: none

feat: 예외 처리 기능 구현 - validate 처리 예외, 커스텀 예외 businessException
  Backend/src/main/java/com/AIce/Backend/global/enums/ResponseMessage.java
  Backend/src/main/java/com/AIce/Backend/global/exception/BusinessException.java
  Backend/src/main/java/com/AIce/Backend/global/exception/ErrorResponse.java
  Backend/src/main/java/com/AIce/Backend/global/exception/GlobalExceptionHandler.java
  Backend/src/main/java/com/AIce/Backend/global/exception/ValidationException.java
Due: backend-build, backend-test

feat: User 엔티티 정의 (+BaseTimeEntity)
  Backend/src/main/java/com/AIce/Backend/BackendApplication.java
  Backend/src/main/java/com/AIce/Backend/domain/common/BaseTimeEntity.java
  Backend/src/main/java/com/AIce/Backend/domain/user/User.java
Due: backend-build, backend-test

feature : 회원 가입 기능 구현
  Backend/build.gradle
  Backend/src/main/java/com/AIce/Backend/auth/controller/AuthController.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/SignupRequest.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/SignupResponse.java
  Backend/src/main/java/com/AIce/Backend/auth/service/AuthService.java
  Backend/src/main/java/com/AIce/Backend/domain/user/entity/User.java
  Backend/src/main/java/com/AIce/Backend/domain/user/repository/UserRepository.java
Due: backend-build, backend-test

feat : jwt + security 기능 구현
  Backend/src/main/java/com/AIce/Backend/auth/config/JwtConfig.java
  Backend/src/main/java/com/AIce/Backend/auth/config/SecurityConfig.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/Tokens.java
  Backend/src/main/java/com/AIce/Backend/auth/exception/AuthorizationException.java
  Backend/src/main/java/com/AIce/Backend/auth/exception/DuplicateUsernameException.java
  Backend/src/main/java/com/AIce/Backend/auth/exception/ExpiredTokenException.java
  Backend/src/main/java/com/AIce/Backend/auth/exception/InvalidClaimTypeException.java
  Backend/src/main/java/com/AIce/Backend/auth/exception/InvalidTokenException.java
  Backend/src/main/java/com/AIce/Backend/auth/jwt/JwtAuthenticationFilter.java
  Backend/src/main/java/com/AIce/Backend/auth/jwt/JwtTokenProvider.java
  Backend/src/main/java/com/AIce/Backend/auth/security/JwtAuthenticationEntryPoint.java
Due: backend-build, backend-test

feat : 로그인 + 토큰 발급 기능 구현
  Backend/src/main/java/com/AIce/Backend/auth/controller/AuthController.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/login/LoginDto.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/login/LoginRequest.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/login/LoginResponse.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/signup/SignupRequest.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/signup/SignupResponse.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/signup/Tokens.java
  Backend/src/main/java/com/AIce/Backend/auth/exception/NotFoundUserException.java
  Backend/src/main/java/com/AIce/Backend/auth/exception/WrongPasswordException.java
  Backend/src/main/java/com/AIce/Backend/auth/jwt/JwtTokenProvider.java
  Backend/src/main/java/com/AIce/Backend/auth/service/AuthService.java
  Backend/src/main/java/com/AIce/Backend/domain/user/entity/User.java
  Backend/src/main/java/com/AIce/Backend/domain/user/repository/UserRepository.java
Due: backend-build, backend-test

feat : 로그 아웃 기능 구현 (refresh 토큰 redis에 brackList 저장)
  Backend/build.gradle
  Backend/src/main/java/com/AIce/Backend/auth/config/RedisConfig.java
  Backend/src/main/java/com/AIce/Backend/auth/controller/AuthController.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/login/LoginResponse.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/logout/LogoutResponse.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/signup/SignupResponse.java
  Backend/src/main/java/com/AIce/Backend/auth/jwt/JwtTokenProvider.java
  Backend/src/main/java/com/AIce/Backend/auth/service/AuthService.java
  Backend/src/main/java/com/AIce/Backend/auth/service/RedisService.java
  Backend/src/main/java/com/AIce/Backend/auth/util/RedisKeyFactory.java
  Backend/src/main/java/com/AIce/Backend/global/dto/SuccessResponse.java
  Backend/src/main/resources/application.yml
Due: backend-build, backend-test

feat : 토큰 재발급 기능 구현
  Backend/src/main/java/com/AIce/Backend/auth/controller/AuthController.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/reissue/ReissueResponse.java
  Backend/src/main/java/com/AIce/Backend/auth/exception/LoggedOutTokenException.java
  Backend/src/main/java/com/AIce/Backend/auth/service/AuthService.java
  Backend/src/main/java/com/AIce/Backend/global/enums/ResponseMessage.java
Due: backend-build, backend-test

feat: 프론트 초기 설정
  Frontend/seta-front/.gitignore
  Frontend/seta-front/README.md
  Frontend/seta-front/eslint.config.js
  Frontend/seta-front/index.html
  Frontend/seta-front/package.json
  Frontend/seta-front/pnpm-lock.yaml
  Frontend/seta-front/public/seta.ico
  Frontend/seta-front/src/index.css
  Frontend/seta-front/src/layouts/AppLayout.tsx
  Frontend/seta-front/src/main.tsx
  Frontend/seta-front/src/pages/About.tsx
  Frontend/seta-front/src/pages/Home.tsx
  Frontend/seta-front/src/pages/NotFound.tsx
  Frontend/seta-front/src/vite-env.d.ts
  Frontend/seta-front/tsconfig.app.json
  Frontend/seta-front/tsconfig.json
  Frontend/seta-front/tsconfig.node.json
  Frontend/seta-front/vite.config.ts
Due: frontend-build, frontend-test

feat: 랜딩 페이지 추가 (미완성)
  Frontend/seta-front/index.html
  Frontend/seta-front/package.json
  Frontend/seta-front/pnpm-lock.yaml
  Frontend/seta-front/src/app/providers.tsx
  Frontend/seta-front/src/app/router.tsx
  Frontend/seta-front/src/index.css
  Frontend/seta-front/src/layouts/AppLayout.tsx
  Frontend/seta-front/src/main.tsx
  Frontend/seta-front/src/pages/About.tsx
  Frontend/seta-front/src/pages/Home.tsx
  Frontend/seta-front/src/pages/Landing/Landing.css
  Frontend/seta-front/src/pages/Landing/Landing.tsx
  Frontend/seta-front/src/pages/Landing/index.ts
  Frontend/seta-front/src/pages/NotFound/NotFound.tsx
  Frontend/seta-front/src/styles/tailwind.css
  Frontend/seta-front/vite.config.ts
Due: frontend-build, frontend-test

feat: 랜딩 페이지 추가 (미완성)
  Frontend/seta-front/src/pages/Landing/Landing.css
  Frontend/seta-front/src/pages/Landing/Landing.tsx
Due: frontend-build, frontend-test

refactor: 공통 auth 요청 url users->auth로 수정
  Backend/src/main/java/com/AIce/Backend/auth/controller/AuthController.java
  Backend/src/main/java/com/AIce/Backend/auth/service/AuthService.java
  Backend/src/main/java/com/AIce/Backend/global/enums/ResponseMessage.java
Due: backend-build, backend-test

feat: postgresql ã 설정
  Backend/build.gradle
  Backend/src/main/java/com/AIce/Backend/BackendApplication.java
  Backend/src/main/resources/application.yml
Due: backend-build, backend-test

feat: swagger 연결 및 user DB 마이그레이션
  Backend/src/main/java/com/AIce/Backend/auth/config/SecurityConfig.java
Due: backend-build, backend-test

chore: 루트 디렉토리에서 Backend module 재설치
  .gradle/8.13/checksums/checksums.lock
  .gradle/8.13/executionHistory/executionHistory.bin
  .gradle/8.13/executionHistory/executionHistory.lock
  .gradle/8.13/fileChanges/last-build.bin
  .gradle/8.13/fileHashes/fileHashes.bin
  .gradle/8.13/fileHashes/fileHashes.lock
  .gradle/8.13/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/file-system.probe
  .gradle/vcs-1/gc.properties
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

feat: 랜딩 / 홈화면 / 로그인 페이지 구성
  Frontend/seta-front/src/app/router.tsx
  Frontend/seta-front/src/assets/homebackground.png
  Frontend/seta-front/src/assets/loginBackground.png
  Frontend/seta-front/src/assets/seta.png
  Frontend/seta-front/src/index.css
  Frontend/seta-front/src/pages/Home/Home.tsx
  Frontend/seta-front/src/pages/Login/Login.css
  Frontend/seta-front/src/pages/Login/Login.tsx
  Frontend/seta-front/src/pages/Login/index.ts
  Frontend/seta-front/src/styles/tailwind.css
  Frontend/seta-front/src/ui/components/Header/Header.tsx
  Frontend/seta-front/src/ui/components/Header/index.ts
  Frontend/seta-front/src/ui/components/Logo/Logo.tsx
  Frontend/seta-front/src/ui/components/Logo/index.ts
  Frontend/seta-front/vite.config.ts
Due: frontend-build, frontend-test

feat: 홈화면 이메일 -> 아이디로 수정
  Frontend/seta-front/src/pages/Login/Login.tsx
Due: frontend-build, frontend-test

feat: user GPT 세팅 조회, 수정, 입력 구현
  Backend/src/main/java/com/AIce/Backend/auth/config/SwaggerConfig.java
  Backend/src/main/java/com/AIce/Backend/auth/jwt/JwtAuthenticationFilter.java
  Backend/src/main/java/com/AIce/Backend/domain/user/entity/User.java
  Backend/src/main/java/com/AIce/Backend/domain/usersetting/entity/UserSetting.java
  Backend/src/main/java/com/AIce/Backend/domain/usersetting/repository/UserSettingRepository.java
  Backend/src/main/java/com/AIce/Backend/global/enums/PreferredTone.java
  Backend/src/main/java/com/AIce/Backend/usersetting/controller/UserSettingController.java
  Backend/src/main/java/com/AIce/Backend/usersetting/dto/UserSettingDto.java
  Backend/src/main/java/com/AIce/Backend/usersetting/dto/UserSettingResponse.java
  Backend/src/main/java/com/AIce/Backend/usersetting/dto/UserSettingUpdateRequest.java
  Backend/src/main/java/com/AIce/Backend/usersetting/exception/ConflictUserSettingException.java
  Backend/src/main/java/com/AIce/Backend/usersetting/exception/NotFoundUserSettingException.java
  Backend/src/main/java/com/AIce/Backend/usersetting/service/UserSettingService.java
  Backend/src/main/resources/application.yml
Due: backend-build, backend-test

feat: 로그인 배경화면 수정
  Frontend/seta-front/src/assets/loginBackground.png
Due: frontend-build, frontend-test

feat: 회원가입 페이지 작성 / CustomToast.tsx 추가 / 페이지 라우팅 연결 완료
  Frontend/seta-front/package.json
  Frontend/seta-front/pnpm-lock.yaml
  Frontend/seta-front/src/app/router.tsx
  Frontend/seta-front/src/pages/Home/Home.tsx
  Frontend/seta-front/src/pages/Login/Login.tsx
  Frontend/seta-front/src/pages/SignUp/SignUp.css
  Frontend/seta-front/src/pages/SignUp/SignUp.tsx
  Frontend/seta-front/src/pages/SignUp/index.ts
  Frontend/seta-front/src/ui/components/Toast/CustomToast.css
  Frontend/seta-front/src/ui/components/Toast/CustomToast.tsx
  Frontend/seta-front/src/ui/components/Toast/index.ts
Due: frontend-build, frontend-test

feat: 채íchatMessage, chatRoom entity 생성ã
  Backend/build.gradle
  Backend/src/main/java/com/AIce/Backend/domain/chat/entity/ChatMessage.java
  Backend/src/main/java/com/AIce/Backend/domain/chat/entity/ChatRoom.java
  Backend/src/main/java/com/AIce/Backend/domain/chat/repository/ChatMessageRepository.java
  Backend/src/main/java/com/AIce/Backend/domain/chat/repository/ChatRoomRepository.java
  Backend/src/main/java/com/AIce/Backend/domain/usersetting/entity/UserSetting.java
  Backend/src/main/java/com/AIce/Backend/global/enums/ChatMessageRole.java
  Backend/src/main/java/com/AIce/Backend/usersetting/controller/UserSettingController.java
  Backend/src/main/resources/application.yml
Due: backend-build, backend-test

feat: spring + mysql + redis Nginx 연동 무중단 배포 파이프 라인 구축
  .gitlab-ci.yml
  Backend/Dockerfile
  Devops/deploy.sh
  Devops/docker-compose.server-a.yml
Due: backend-build, backend-test

fix: test시 db가 없어 실패 -> 임시로 H2 사용
  Backend/build.gradle
  Backend/src/test/resources/application.yml
Due: backend-build, backend-test

refactor: test job 제거
  .gitlab-ci.yml
  Backend/build.gradle
  Backend/src/test/java/com/AIce/Backend/BackendApplicationTests.java
  Backend/src/test/resources/application.yml
Due: backend-build, backend-test

fix: dind 제거
  .gitlab-ci.yml
Due: none

fix: docker socket 정의 + jwt 관련 variables 등록
  .gitlab-ci.yml
  Devops/docker-compose.server-a.yml
Due: none

fix: runner local -> ec2 로 변경 및 dind 설정 제거
  .gitlab-ci.yml
Due: none

feat: local 환경에서 kafka 설정
  Backend/build.gradle
  Backend/src/main/java/com/AIce/Backend/BackendApplication.java
  Backend/src/main/java/com/AIce/Backend/auth/dto/login/LoginRequest.java
  Backend/src/main/java/com/AIce/Backend/chat/adapter/messaging/kafka/ChatKafkaProducer.java
  Backend/src/main/java/com/AIce/Backend/chat/adapter/messaging/kafka/ErrorLogConsumer.java
  Backend/src/main/java/com/AIce/Backend/chat/adapter/messaging/kafka/FilterResultConsumer.java
  Backend/src/main/java/com/AIce/Backend/chat/adapter/messaging/kafka/KafkaTestListener.java
  Backend/src/main/java/com/AIce/Backend/chat/adapter/messaging/kafka/LlmAnswerConsumer.java
  Backend/src/main/java/com/AIce/Backend/chat/contracts/ErrorLogV1.java
  Backend/src/main/java/com/AIce/Backend/chat/contracts/FilterResultV1.java
  Backend/src/main/java/com/AIce/Backend/chat/contracts/HeadersV1.java
  Backend/src/main/java/com/AIce/Backend/chat/contracts/LlmResponseV1.java
  Backend/src/main/java/com/AIce/Backend/chat/contracts/PromptBuiltV1.java
  Backend/src/main/java/com/AIce/Backend/chat/contracts/RawRequestV1.java
  Backend/src/main/java/com/AIce/Backend/chat/controller/ChatController.java
  Backend/src/main/java/com/AIce/Backend/chat/controller/KafkaTestController.java
  Backend/src/main/java/com/AIce/Backend/chat/dto/SendMessageReq.java
  Backend/src/main/java/com/AIce/Backend/chat/service/ChatService.java
  Backend/src/main/java/com/AIce/Backend/domain/chat/entity/ChatMessage.java
  Backend/src/main/java/com/AIce/Backend/domain/chat/repository/ChatMessageRepository.java
  Backend/src/main/java/com/AIce/Backend/domain/chat/repository/ChatRoomRepository.java
  Backend/src/main/java/com/AIce/Backend/domain/user/repository/UserRepository.java
  Backend/src/main/java/com/AIce/Backend/global/config/kafka/KafkaAdminConfig.java
  Backend/src/main/java/com/AIce/Backend/global/config/kafka/KafkaConsumerProducerConfig.java
  Backend/src/main/java/com/AIce/Backend/global/config/kafka/KafkaSerdeConfig.java
  Backend/src/main/java/com/AIce/Backend/global/config/kafka/KafkaTopicsProperties.java
  Backend/src/main/java/com/AIce/Backend/global/config/swagger/SwaggerConfig.java
  Backend/src/main/java/com/AIce/Backend/global/sse/SseController.java
  Backend/src/main/java/com/AIce/Backend/global/sse/SseHub.java
  Backend/src/main/resources/application-local.yml
  Backend/src/main/resources/application-msk.yml
  Backend/src/main/resources/application.yml
Due: backend-build, backend-test

feat: msk endpoint 설정 추가
  Backend/src/main/resources/application-msk.yml
Due: backend-build, backend-test

fix: dind 설정 변경
  .gitlab-ci.yml
Due: none

fix: dockerd port 설정
  .gitlab-ci.yml
Due: none

fix: alias: docker 설정 추가
  .gitlab-ci.yml
Due: none

fix: 변수 정리
  .gitlab-ci.yml
Due: none

fix: CI registry -> docker hub로 변경
  .gitlab-ci.yml
Due: none

Path conditions:
  backend-build: any of: Backend/**/*
  backend-test: any of: Backend/**/*
  frontend-build: any of: Frontend/**/*
  frontend-test: any of: Frontend/**/*
  ai-test: any of: AI/**/*
